
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   margin-top:40px;
   font-family: Poppins;
}
/* global */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}

.d-flex-col{
    display:flex;
   flex-direction: column;
}


.colWrapper .row{
    display: flex;
}
.colWrapper .row .colImg,
.colWrapper .row .colBox{
    flex:1
}
.f-dir-row{
    flex-direction:row-reverse;
}
/* global */


.navbar{
   
    justify-content: space-between;
    align-items:center;
}

.title{
    font-size: 43px;
    font-weight: bold;
   color: #5edea8;
}

.logsign{
    justify-content: space-between;
}

.log{
 
    color: #3e3e3e;
    font-size:31px;
    font-weight:700;
    padding-left:14px;
    opacity:0.8;
    align-self:center;
    
}

.logo{
    height:40px;
    width:220px
}

.signup{
    color:#fff;
    font-size: 24px;
    font-weight: bolder;
    margin-right:10px;
    padding:10px 70px 10px 70px;
    border-radius:7px 10px;
    border-color: #5edea8;
    background-color: #5edea8;
    
}



.maintext{
margin-top:130px;

}

.line1{
    padding-bottom:20px;

}

.line1,.line3{
    color: #3e3e3e;
    font-size:40px;
    font-weight: 700;
}

.line2{
    color: #5edea8;
    padding-bottom:13px;
    font-size:48px;
    font-weight: 700;

}



.landingpagetext{
    margin-top:40px;
    margin-bottom:40px;
    font-size: 22px;
    
}

/* lowermiddle starts*/

.lowermiddle{
    margin-top:110px;
    margin-bottom: 66px;
}

.lowermiddlecontent{
    padding-bottom: 48px;
}

.lowermiddle .row .middleText{
    align-self: center;
}
class="d-flex"
.lowermiddle .row .middleText,
.lowermiddle .row .middleImage{
flex:1
}

.middlehead{
    color:#3e3e3e;
    font-size:40px;
    font-weight:bolder;
}

.middlebody{
    font-size:22.3px;
    opacity: 0.67;
}

.imageSpaceMiddle{
    margin-bottom:50px;
}

/* lowermiddle ends */





/* lowerlower starts */

.lowerlower{
   font-size: 16px;
    background-color: #5edea8;
    color:#ffffff;
    padding-top:140px;
    padding-bottom:140px;
}



.lowerlowertitle{
    font-size:30px;
    font-weight: 900;
}

.lowerlowerimage{
padding-bottom: 24px;
}

.whykiffgo{
    margin-top:-5px;
    font-size:54px;
    font-weight: 900;
}

/* lowerlower ends */





/* lowerlast starts */



.lowerlasttext{
    font-size:18px;
    padding-bottom:12px;
    
}

.lowerlastimage{
    width:100px;
    height: 100px;
}

.table{
    justify-content: space-around;
    margin-bottom: 120px;
}

.vehicles{
    font-size:50px;
    font-weight: 650;
    color: #5edea8;
    padding-bottom:24px;

}

.lowerlast{
    margin-top:90px;
}

.lowerlastpart1{
    margin-bottom: 90px;
}

.lowerlastpart2{
    margin-bottom: 140px;
}

.tableimage{
    flex:1.5
}

.lowerLastTable{
flex:1.5;
padding-top:32px;
padding-left:10px;
}

.form{
    flex-direction:column;
    padding-top:49px;
}

.button {
    width: 49px;
    height: 40px;
    margin-top:32px;
    border-radius: 5px;
    background-color: #5edea8;
  }

  .boxInput .boxInput1,
  .boxInput .boxInput2{
      flex:1;
      padding-right:14px;
  }



  .input{
      padding:13px;
      border-radius: 6px;
border-bottom-color:#bdbdbd;
width:100%;

    }

.labelSpace{
    padding-bottom: 10px;
}
  
 .boxInput,
 .wholebox,   
 .boxInputButton{
     padding-bottom:29px;
 }


  .inputlast .boxButton{
      flex:2
  }

.vanCol{
  margin-right: 30px;
}
.vanCol:last-child{
    margin-right: 0;
  }
  

.hearFromYou{
    font-size: 22px;
    font-weight: 600;
    color: #343434;
}

.getInTouch{
    font-size: 34px;
    font-weight: 600;
color:#5edea8;
padding-top:10px;
}

/* lowerlast ends */





/* footer starts */



.footer-wrapper1{
    background-color: #3c3c3c;
    padding-top:60px;
    padding-bottom:90px;

}

.footerpart1{
    justify-content: space-between;
}

.footerpart2{
padding-top:20px;
padding-bottom: 20px;
}

.footer-wrapper2{
    background-color: #323232;
}

.footerpart2{
    color:#ffffff;
   justify-content: center;
   
}

.item-spacing{
    font-size:19px;
    color:#ffffff;
}

.title-style{
    color:#ffffff;
    font-size: 24px;
    font-weight: bold;
    opacity:0.6 ;
    padding-bottom: 20px;
}

.title-footer{
    color:#fff;
    font-size: 40px;
    font-weight: bolder;   
    padding-bottom: 20px;

}

.para-footer{
color:#fff;
font-size:22px;
}



.lastline{
    padding-left:40px
}


/* footer ends */